<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Accounts</title>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.js"
            integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- DataTable CSS-->
    <link href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css" rel="stylesheet"/>

    <!-- DataTable JS-->
    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
</head>
<body>
<header th:insert="header.html :: header"></header>
<form method="GET" th:action="@{/account/new}">
    <input type="submit" value="Create new account" class="btn btn-primary btn-lg" style="margin: 16px">
</form>
<div class="container-fluid">
    <table id="myTable" class="display">
        <thead>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Facility code</th>
            <th>Payer code</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="account: ${data}">
            <td th:text="${account.id}">Row 1 Data 1</td>
            <td th:text="${account.userName}">Row 1 Data 1</td>
            <td th:text="${account.facility.facilityCode}">Row 1 Data 1</td>
            <td th:text="${account.payer.payerCode}">Row 1 Data 1</td>
            <td>
                <form th:if="${account.isActive}" method="POST" th:action="@{/account/deactivate/{accountId}(accountId=${account.id})}" style="width: 100px; float:left; margin-right: 20px">
                    <input type="submit" value="Deactivate" class="btn btn-danger" style="width: 100px">
                </form>
                <form th:if="${!account.isActive}" method="POST" th:action="@{/account/activate/{accountId}(accountId=${account.id})}" style="width: 100px; float:left; margin-right: 20px">
                    <input type="submit" value="Activate" class="btn btn-primary" style="width: 100px">
                </form>
                <form  method="GET" th:action="@{/account/edit/{accountId}(accountId=${account.id})}">
                    <input type="submit" value="Edit" class="btn btn-primary" style="width: 100px">
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<script>
    $(document).ready(function () {
        $('#myTable').DataTable();
    });
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8"
        crossorigin="anonymous"></script>
</body>
</html>